run = "npm run dev"

hidden = [".config", ".cache"]
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"
packages = ["gh"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5174
externalPort = 80

[agent]
expertMode = true
